@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /*背景颜色*/
  --clr: #14161e;
  /*主页面背景 && 点击按钮背景颜色*/
  --bgclr2: #e3eeff;
}
body {
  min-height: 100vh;
  background: var(--clr);
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.sidebar {
  position: absolute;
  width: 80px;
  height: 100vh;
  background: #fff;
  transition: 0.5s;
  padding-left: 10px;
  overflow: hidden;
}

.sidebar.active {
  width: 250px;
}

.sidebar ul {
  position: relative;
  height: 100vh;
}

.sidebar ul li {
  list-style: none;
  position: relative;
  transition: 0.5s;

  -webkit-app-region: no-drag;
}

.sidebar ul li.active {
  background: var(--bgclr2);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.sidebar ul li .logo {
  margin-bottom: 50px;
}

.sidebar ul li.logo .icon {
  font-size: 2em;
  color: var(--clr);
}

.sidebar ul li.logo .text {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--clr);
}

.sidebar ul li a {
  display: flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 70px;
  font-size: 1.5em;
  color: var(--clr);
  transition: 0.5s;
  -webkit-app-region: no-drag;
}
.sidebar ul li a .text {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #333;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 20;
  -webkit-app-region: no-drag;
}
.sidebar ul li.active a .icon,
.sidebar ul li.active a .text {
  color: var(--bg);
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text {
  color: var(--bg);
}

#logout:hover a .icon,
#logout:hover a .text {
  color: var(--bg);
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  transform: 0;
}

.imgBx img {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
}

.mainWindow {
  display: flex;
  position: absolute;
  flex-direction: column;

  left: 80px;
  width: calc(100% - 80px);
  height: 100vh;
  background: var(--bgclr2);
  transition: 0.5s;
  padding: 10px;
  justify-content: center; /* 水平居中 */
  align-items: center;
}

.mainWindow::-webkit-scrollbar {
  width: 0 !important;
}

.mainWindow.active {
  left: 250px;
  width: calc(100% - 250px);
}

.mainWindow .page {
  display: flex;
  position: absolute;
  flex-direction: column;

  align-items: center;
  margin: 36px;
  padding: 10px;
  min-width: 80%;
  height: 90%;
  border-radius: 2%;
  backdrop-filter: blur(50px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  transition: 0.5s;
  background: #fff;
}

.mainWindow .hidden {
  display: none;
}

#page1 .header {
  display: flex;
  align-items: center;
  top: 20px;
  width: 50%;
  flex-direction: column;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

#page1 .header .imgBx {
  position: relative;

  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 5%;
  overflow: hidden;
  transform: 0;
}

#page1 .header .imgBx img {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
}

#page1 .header .text {
  position: relative;
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
}

#page1 .header .signature {
  margin-top: 5px;
  font-size: 1em;
  font-weight: 500;
  color: #333;
}

#page1 .header .Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 500;
  color: #333;
}

#page1 .header .sign {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page1 .header .Name .Gender {
  position: relative;
  top: 3px;
  left: 10px;
  height: 50%;
  color: pink;
}

#page1 .pagebody {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 10px;
}

#page1 .pagebody .textBox {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 2px;
  left: 10%;
  width: 40%;
}

#page1 .pagebody .textBox .title {
  position: relative;
  margin: 10px;
  margin-left: 20px;
  left: 20%;
}

#page1 .pagebody .textBox .content {
  position: absolute;
  margin-top: 10px;
  width: 80%;
  left: 100%;
}

#page1 .editIcon {
  width: 20px;
  transition: 0.5s;
}

#page1 .editIcon:hover {
  transform: scale(2);
}

#page1 .invisible {
  visibility: hidden;
}

#page1 .EDIT {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#page1 .EDIT .PageEditIcon {
  width: 20px;
  height: 20px;
  transition: 0.5s;
}

#page1 .EDIT .PageEditIcon:hover {
  width: 40px;
  height: 40px;
  color: #ffdbe7;
}

/*初始状态*/
#page0 {
  bottom: 0%;
}

#page1 {
  bottom: -100%;
}

#page2 {
  bottom: -100%;
}

#page3 {
  bottom: -100%;
}

#page4 {
  bottom: -100%;
}

#page0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
