@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.PromptBox {
  position: absolute;
  top: 0;
  left: 50%;
}

.prompt {
  background: #fff;
  color: #666;
  margin: 10px auto;
  padding: 15px 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  /* 不可复制 */
  user-select: none;
  /* 当发生 改变 时过度 */
  transition: 0.5s;

  transform: translate(-50%);
  position: relative;
  top: -100px;
  opacity: 0;
  z-index: 100;
}

.shown {
  top: 0;
  opacity: 1;
}
